{
  "openapi": "3.0.0",
  "info": {
    "title": "iSee",
    "version": "1.0.0",
    "description": "\nSwagger Documentation for iSee Project\n\nD-V-M-Y\n-"
  },
  "servers": [
    {
      "url": "https://iseevision.fr"
    },
    {
      "url": "http://localhost:3001"
    }
  ],
  "components": {
    "securitySchemes": {

      "XSRF-Token": {
        "type": "apiKey",
        "name": "X-XSRF-Token",
        "in": "header"
      }
    }
  },
  "paths": {
    "/api/users/getAll": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List of all Users",
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/users/profile": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List the profile of the user id",
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/users/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Login",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/register": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Register",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "isAdmin": {
                    "type": "boolean",
                    "example": false
                  },
                  "logo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/update": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update User",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                    
                  },
                  "password": {
                    "type": "string"
                  },
                  "isAdmin": {
                    "type": "boolean"
                  },
                  "logo": {
                    "type": "string",
                    "format": "binary"
                  },
                  "banner": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/delete": {
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete User",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/banUser": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Ban a user",
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "ID of the user to ban"
                  },
                  "banUntil": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date until the user is banned"
                  }
                },
                "required": ["userId", "banUntil"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User has been banned successfully"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Only admins can ban users"
          },
          "500": {
            "description": "Error banning user"
          }
        }
      }
    },    
    "/api/comments/video/{videoId}": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get comments by video ID",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Error fetching comments"
          }
        }
      }
    },
    "/api/comments/add": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Add a comment",
        "security": [
          {
             "XSRF-Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "videoId": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Error adding comment"
          }
        }
      }
    },
    "/api/comments/like/{commentId}": {
      "put": {
        "tags": [
          "Comments"
        ],
        "summary": "Like a comment",
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Error liking the comment"
          }
        }
      }
    },
    "/api/comments/dislike/{commentId}": {
      "put": {
        "tags": [
          "Comments"
        ],
        "summary": "Dislike a comment",
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Error disliking the comment"
          }
        }
      }
    },
    "/api/comments/delete/{commentId}": {
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete a comment",
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "You don't have permission"
          },
          "404": {
            "description": "Comment not found"
          },
          "500": {
            "description": "Error deleting comment"
          }
        }
      }
    },
    "/api/videos/getAll": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get all public videos",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Error fetching all videos"
          }
        }
      }
    },
    "/api/videos/{id}": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get a public video by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Video not found"
          },
          "500": {
            "description": "Error fetching video"
          }
        }
      }
    },
    "/api/videos/user/{userId}": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get user's videos",
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "User not found"
          },
          "500": {
            "description": "Error fetching user's videos"
          }
        }
      }
    },   
    "/api/videos/search/{query}": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Search videos",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Video not found"
          },
          "500": {
            "description": "Error fetching video"
          }
        }
      }
    },   
      "/api/videos/addView/{videoId}": {
        "put": {
          "tags": [
            "Videos"
          ],
          "summary": "Add a view to a video",
          "parameters": [
            {
              "name": "videoId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            },
            "400": {
              "description": "Error updating video"
            },
            "404": {
              "description": "Video not found"
            }
          }
        }
      },
      "/api/videos/like/{videoId}": {
        "put": {
          "tags": [
            "Videos"
          ],
          "summary": "Like a video",
          "security": [
            {
              "XSRF-Token": []
            }
          ],
          "parameters": [
            {
              "name": "videoId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            },
            "404": {
              "description": "Video not found"
            },
            "500": {
              "description": "Error liking the video"
            }
          }
        }
      },
      "/api/videos/dislike/{videoId}": {
        "put": {
          "tags": [
            "Videos"
          ],
          "summary": "Dislike a video",
          "security": [
            {
              "XSRF-Token": []
            }
          ],
          "parameters": [
            {
              "name": "videoId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            },
            "404": {
              "description": "Video not found"
            },
            "500": {
              "description": "Error disliking the video"
            }
          }
        }
      },
      "/api/videos/state/{videoId}": {
        "put": {
          "tags": [
            "Videos"
          ],
          "summary": "Change video state",
          "security": [
            {
              "XSRF-Token": []
            }
          ],
          "parameters": [
            {
              "name": "videoId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": ["Private", "Public", "Unlisted"]
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            },
            "400": {
              "description": "Invalid state value"
            },
            "403": {
              "description": "You do not have permission to change the state of this video"
            },
            "404": {
              "description": "Video not found"
            },
            "500": {
              "description": "Error changing video state"
            }
          }
        }
      },      
    "/api/videos/upload": {
      "post": {
        "tags": [
          "Videos"
        ],
        "summary": "Upload a video",
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string",
                    "enum": ["Private", "Public", "Blocked"]
                  },
                  "thumbnail": {
                    "type": "string",
                    "format": "binary"
                  },
                  "video": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Error uploading video"
          }
        }
      }
    },
    "/api/videos/update/{videoId}": {
      "put": {
        "tags": [
          "Videos"
        ],
        "summary": "Update a video",
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "status": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Error updating video"
          },
          "403": {
            "description": "You don't have the permission"
          },
          "404": {
            "description": "Video not found"
          }
        }
      }
    },
    "/api/videos/delete/{id}": {
      "delete": {
        "tags": [
          "Videos"
        ],
        "summary": "Delete a video",
        "security": [
          {
            "XSRF-Token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "You don't have the permission"
          },
          "404": {
            "description": "Video not found"
          },
          "500": {
            "description": "Error deleting video"
          }
        }
      }
    }
  }
}